body{

margin: 0;
padding: 0;
background-color: aqua;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#escudo{
width: 90px;
height: 90px;
}
#navbar {
    background-color:rgb(42, 54, 161);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

body{
    background-color: darkred;
}
#notícias{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    flex-wrap: wrap;
}

.notícia{
    background-color: gold;
    color: black;
    border: 4px solid white}

    .img_notícia{
        width: 400px;
    }
    footer{
        color: white;
    }

    #mascote{
        position: fixed;        
        width: 200px;
        height: 200px;
        bottom: 0px;
        right: 0px;
        z-index: 999999;
    }

    #esclacao{
        margin: 40px;
        display: 40px
       justify-content:space-around;
        align-itens: center;
        background-color: blue;
        
    }